/* latin */
@font-face {
    font-family: 'Delius';
    font-style: normal;
    font-weight: 400;
    src: local('Delius-Regular'), url(https://fonts.gstatic.com/s/delius/v7/PN_xRfK0pW_9e1rdZsg_.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    padding-top: 25px;
}

body {
    overflow-x: hidden;
    width: 300px;
    font-family: 'Delius', sans-serif;
    height: 400px;
    font-size: 16px;
}

*::selection {
    color: #ffffff;
    background-color: rgba(255, 0, 0, 0.51);
}

*::-moz-selection {
    color: #ffffff;
    background-color: rgba(255, 0, 0, 0.51);
}

.hidden {
    opacity: 0;
}

.navigation {
    background-color: red;
    position: fixed;
    left: 0;
    top: 0;
    width: calc(100% - 1rem);
    display: flex;
    justify-content: space-between;
    height: 3rem;
    padding: .5rem;
}

.navigation .logo img {
    max-height: 3rem;
    user-select: none;
}

.navigation .button {
    display: flex;
    width: 2.5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s ease;
    box-sizing: border-box;
    font-size: 1.5rem;
    color: #661311;
    user-select: none;
}

.navigation .button:hover {
    color: #ffffff;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.25);
}

.navigation .button:active {
    transform: scale(.8);
    background-color: rgba(255, 255, 255, 0.3);
}

.content {
    margin-top: 4.5rem;
    height: calc(100vh - 7rem);
}

.menu {
    font-size: 1.2rem;
    margin: 0 auto;
    border-radius: 5px;
    min-height: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .16);
    padding: .5rem 2rem;
    box-sizing: border-box;
    margin-bottom: .5rem;
    padding-bottom: 1rem;
}

.menu:not(.isActive) {
    display: none;
}

.menu .badge {
    user-select: none;
    cursor: default;
    margin: 1rem auto;
    font-size: 2rem;
    height: 4rem;
    border-radius: 3rem;
    width: 4rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .16);
}

.menu .badge:active {
    transform: rotate(360deg);
    transition: transform .3s ease-out;
}

.menu .date {
    box-sizing: border-box;
    position: fixed;
    top: 4rem;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: #fafafa;
    font-size: .7rem;
    padding: .5rem 0;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #794f50;
}

.entry:not(:last-child) {
    margin-bottom: 5px;
}

.overlay {
    transition: opacity .2s ease;
}

.overlay .loading {
    border-radius: 3px;
    height: .5rem;
    margin-bottom: .2rem;
    background: linear-gradient(to right, #f4f4f4, #ececec);
    background-size: 200% auto;
    animation: loading 1.3s cubic-bezier(0.55, 0.09, 0.68, 0.53) 5;
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}